html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.home_feature {
    padding: 20px 0;
}

.home_feature>* {
    text-align: center;
}

.center {
    text-align: center;
    justify-content: center;
}

.textAlignContainer {
    text-align: center;
}

a:hover {
    color: #ffff00;
}

.home_feature p {
    margin: 0.5rm 0;
}

.card {
    -webkit-box-shadow: -1px 5px 15px 5px #bbb;
    box-shadow: -1px 5px 15px 5px #bbb;
    margin-bottom: 40px;
    padding: 35px 30px 40px 35px;
}